<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>github-ynov-vue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
       <h1>Application Github Ynov</h1>
        <div v-for="nickname in githubInfos" class="github-names">
            <p>Github: {{ nickname.name }}</p>

        </div>
        <div v-for="item in info">
            <p>{{ item.full_name }}</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>